%article.hentry.single
  %header
    %h1.entry-title= title
    %address.vcard.author
      %a.fn.url{ :href => "http://andycroll.com" } Andy Croll
    %time.published{ :datetime => Time.parse(date).iso8601, :pubdate => "pubdate" }
      %span.value-title{ :title => Time.parse(date).iso8601 }
      = date
    <div class="rdbWrapper" data-show-read="1" data-show-send-to-kindle="0" data-show-print="0" data-show-email="0" data-orientation="0" data-version="1" data-bg-color="transparent" data-text-color="#080000"></div>
    <script type="text/javascript">(function() {var s = document.getElementsByTagName("script")[0],rdb = document.createElement("script"); rdb.type = "text/javascript"; rdb.async = true; rdb.src = document.location.protocol + "//www.readability.com/embed.js"; s.parentNode.insertBefore(rdb, s); })();</script>

  %section.content.entry-content= body

  %section.comments
    - if @config[:disqus]
      #disqus_thread
      %script{ :src => "http://disqus.com/forums/#{@config[:disqus]}/embed.js" }
      %noscript{ :src => "http://disqus.com/forums/#{@config[:disqus]}/embed.js" }
        %a{ :href => "http://#{@config[:disqus]}.disqus.com/?url=ref" } View the discussion thread.
      %a.dsq-brlink{ :href => "http://disqus.com" }
        blog comments powered by
        %span.logo-disqus
          Disqus
